.cabecera{
    background: #def3f7 ;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,.5);
    font-weight: 700;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.cabecera .menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 20px;
    font-family: "Roboto";
    font-size: 16px;
}

.cabecera .menu .menu__item a{
    text-decoration: none;
    color: rgb(47, 14, 78);
    transition: all .5s;
}
.cabecera .menu .menu__item .active{
    text-decoration: underline solid 2px;
}
    .cabecera .menu .menu__item  a:hover{
        text-decoration: double;
        color: rgb(114, 184, 92);
    }

.dropdown{
    background-color: #def3f7;
}
